from .settings import *


INSTALLED_APPS += ('django_nose',)

TEST_RUNNER = 'django_nose.NoseTestSuiteRunner'

NOSE_ARGS = [
    '--with-coverage',
    '--cover-package=core',
    '--cover-inclusive',
    '--cover-xml',
]

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}∑

RAVEN_CONFIG = {
    'dsn': ('{{ sentry_dns }}'),
}

# CELERY SETTINGS
BROKER_URL = 'redis://localhost:6379/0'

DEBUG = True
