production_servers:
{% for item in registered_droplets.results %}
    - { name: "{{ item.item.name }}", public: "{% for ip in item.droplet.networks.v4 %}{% if ip.type == 'public' %}{{ ip.ip_address }}{% endif %}{% endfor %}", ip: "{{ item.droplet.ip_address }}", id: "{{ item.droplet.id }}", roles: {{ item.item.roles }} }
{% endfor %}