{% for item in registered_droplets.results %}
{{ item.item.name }} ansible_host={% for ip in item.droplet.networks.v4 %}{% if ip.type == 'public' %}{{ ip.ip_address }}{% endif %}{% endfor %}

{% endfor %}

[prodservers:children]
django-servers
postgresql-servers
queue-servers
celery-workers
cache-servers
elastic-servers
collector-servers

[django-servers]
{% for item in registered_droplets.results %}
{% if 'django' in item.item.roles %}
{{ item.item.name }}
{% endif %}
{% endfor %}

[queue-servers]
{% for item in registered_droplets.results %}
{% if 'queue' in item.item.roles %}
{{ item.item.name }}
{% endif %}
{% endfor %}

[collector-servers]
{% for item in registered_droplets.results %}
{% if 'collector' in item.item.roles %}
{{ item.item.name }}
{% endif %}
{% endfor %}

[postgresql-servers]
{% for item in registered_droplets.results %}
{% if 'postgresql' in item.item.roles %}
{{ item.item.name }}
{% endif %}
{% endfor %}

[celery-workers]
{% for item in registered_droplets.results %}
{% if 'celery' in item.item.roles %}
{{ item.item.name }}
{% endif %}
{% endfor %}

[cache-servers]
{% for item in registered_droplets.results %}
{% if 'cache' in item.item.roles %}
{{ item.item.name }}
{% endif %}
{% endfor %}

[elastic-servers]
{% for item in registered_droplets.results %}
{% if 'elastic' in item.item.roles %}
{{ item.item.name }}
{% endif %}
{% endfor %}

[all:vars]
env=prod
nginx_server_name=data-adviser.com
ansible_user=root