from .settings import *


INSTALLED_APPS += ('django_nose',)

TEST_RUNNER = 'django_nose.NoseTestSuiteRunner'

NOSE_ARGS = [
    '--with-coverage',
    '--cover-package=core',
    '--cover-inclusive',
    '--cover-xml',
]

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ application_name }}',
        'USER': '{{ db_user }}',
        'PASSWORD': '{{ db_password }}',
        'HOST': '{{ db_host }}',
        'PORT': 5432,
    }
}

RAVEN_CONFIG = {
    'dsn': '{{ sentry_dns }}',
}

# CELERY SETTINGS
BROKER_URL = '{{ broker_url }}'

DEBUG = True
